.popup__button-close {
  margin-left: 438px;
  background-image: url(../../../images/Close-Icon.svg);
  background-color: black;
  background-position: center;
  background-size: contain;
  border: none;
  width: 32px;
  height: 32px;
}

@media screen and (max-width: 600px) {
  .popup__button-close {
    margin-left: 262px;
    width: 20px;
    height: 20px;
  }
}
