.intro__edit-button {
  background-image: url(../../../images/Edit\ Button.svg);
  background-color: black;
  background-position: center;
  width: 24px;
  height: 24px;
  margin-left: 18px;
  margin-top: 7px;
}

@media screen and (max-width: 750px) {
  .intro__edit-button {
    margin-top: 27px;
  }
}
